body {
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.container-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.form-block {
  text-align: center;
  background-color: #fff;
  width: 30%;
  /* height: 80vh; */
  margin-right: 25px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #000;
}
  
.form-block h2 {
  color: #000;
  margin-bottom: 1.5rem;
}

.form-block form {
  margin-top: 10px;
  width: 100%;
}

.input-user{
  width: 95%;
  padding: 0.625rem;
  margin-bottom: 1.5rem;
  line-height: 1.3rem;
  font-size: 1rem;
  border: 0.063rem solid #000;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  outline: none;
}

.input-user.search{
  transition: 0.3s ease-in-out;
  width:100%;
}

.input-user:focus{
  border-color: #59b414;
  color:#59b414;
  box-shadow: 0 0 0.188rem rgba(0, 0, 0, 0.5);
}

.button-create {
  appearance: none;
  background-color: #000000;
  border: 0.125rem solid #1A1A1A;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  margin: 1rem 0 1rem 0;
  min-height: 1.75rem;
  min-width: 0;
  outline: none;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  width: 95%;
}

.button-create:disabled {
  pointer-events: none;
}

.button-create:hover {
  color: #000000;
  background-color: #59b414;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
}

.button-create:active {
  box-shadow: none;
  transform: translateY(0.125rem);
}

.about-conteiner{
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  text-align: center;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  margin :1.5rem;
}

.error-container{
  background-color: rgba(255, 0, 0, 0.25);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  text-align: center;
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
  color: red;
}

.message-conteiner{
  background-color: rgba(0, 255, 140, 0.25);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  text-align: center;
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
  color: #59b414;
}

.table-block {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  min-height: 700px;
  border: 2px solid #000;
  border-radius: 5px;
  width: 80%;
}

.table-block h2 {
  color: #000;
  margin-bottom: 10px;
}

.search-container{
  display: flex;
  justify-content: space-between;
}

.table-block table {
  width: 100%;
  border-radius: 5px 5px 0 0;
  border-collapse: collapse;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-block table thead tr{
  background-color: #000;
  color: #ffffff;
}

.table-block table th,
.table-block table td {
  padding: 8px 8px;
}

.table-block table tbody tr {
  border-bottom: 2px solid #dddddd;
}

.table-block table tbody tr:hover {
  background-color: #f3f3f3;
}

.table-block table tbody tr:last-of-type {
  border-bottom: 2px solid #59b414;
}

.table-unactive{
  color: red;
  font-weight: bold;
}

.table-active{
  color:#59b414;
  font-weight: bold;
}

.table-user-button {
  appearance: none;
  background-color: #000000;
  border: 0.125rem solid #1A1A1A;
  border-radius: 1rem;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 600;
  padding: 0.2rem;
  width: 80px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
}

.table-user-button.margin {
  margin-bottom:22px;
}

.table-user-button:disabled {
  pointer-events: none;
}

.table-user-button:hover {
  color: #000000;
  background-color: #59b414;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
}

.table-user-button:active {
  box-shadow: none;
  transform: translateY(0.125rem);
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 5px;
}

.pagination-link {
  display: inline-block;
  margin: 0 5px;
  padding: 4px 8px;
  color: #333;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-link:hover {
  background-color: #59b414;
  border: 1px solid #000;
  color: #fff;
}

.pagination-link-active {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}

.pagination-link-disabled{
  cursor: not-allowed;
  background-color: #cacaca;
  border: 1px solid #000;
}

.pagination-link-disabled:hover{
  cursor: not-allowed;
  background-color: #cacaca;
  color: #000;
}

.create-search-div{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 59.5rem) {
  .container-admin{
    flex-direction: column-reverse;
  }

  .form-block{
    width: 90%;
    margin-right: 0px;
    margin-top: 25px;
  }

  .table-block{
    width: 90%;
  }

  .table-user-button{
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .responsive-table{
    overflow-x:auto;
  }
}