.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #fff;
    padding: 1.25rem 5rem;
    box-shadow: 0 2.5rem 3.75rem rgba(0, 0, 0, 0.1);
}

.navbar-links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.navbar-li {
    padding: 0 1.25rem;
    position: relative;
}

.navbar-link{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #000;
    transition: 0.3s ease-in-out;
}

.navbar-link.active{
    color: #59b414;
}

.navbar-link:hover{
    color: #59b414;
}

.navbar-mobile {
    color: #000;
    display: none;
    align-items: center;
}

.navbar-icon {
    font-size: 1.55rem;
    color: #000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.navbar-icon-plus {
    font-size: 1.875rem;
    color: #000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.navbar-icon:hover, .navbar-icon-plus:hover {
    color: #59b414;
}

.navbar-help {
    display: none;
}

.sidebar-li {
    display: none;
    margin-bottom: 1.875rem;
}

@media screen and (max-width: 59.5rem) {
    .navbar-links{
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0px;
        left: -34.375rem;
        width: 34.375rem;
        height: 100vh;
        background-color: #fff;
        box-shadow: 0 2.5rem 3.75rem rgba(0, 0, 0, 0.1);
        padding: 1.25rem 0 0 0.625rem;
        transition: 0.3s ease-in-out;
    }

    .navbar-links.active {
        left: 0;
    }

    .navbar-mobile {
        display: block;
    }

    .navbar-li {
        margin-top: 1.25rem;
    }

    .sidebar-icon {
        margin-left: 21rem;
        transition: 0.3s ease-in-out;
    }

    .navbar-help, .sidebar-li{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 41.563rem) {
    .navbar-links{
        left: -25rem;
        width: 25rem;
    }

    .navbar-links.active{
        left: 0;
    }

    .sidebar-icon {
        margin-left: 12rem;
    }
}