.form-creation {
  text-align: center;
  background-color: #fff;
  width: auto;
  /* height: 80vh; */
  margin-right: 30%;
  margin-left:30%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #000;
}
  
.form-creation h2 {
  color: #000;
  margin-bottom: 1.5rem;
}

.form-creation form {
  margin-top: 10px;
  width: 100%;
}

.form-creation label{
  font-weight: 600;
  font-size: large;
}

.form-creation .input-user{
  width: 95%;
  padding: 0.625rem;
  margin-bottom: 1.5rem;
  line-height: 1.3rem;
  font-size: 1rem;
  border: 0.063rem solid #000;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  outline: none;
}

.form-creation .input-user.search{
  transition: 0.3s ease-in-out;
  width:100%;
}

.form-creation .input-user:focus{
  border-color: #59b414;
  color:#59b414;
  box-shadow: 0 0 0.188rem rgba(0, 0, 0, 0.5);
}

.form-creation .button-create {
  appearance: none;
  background-color: #000000;
  border: 0.125rem solid #1A1A1A;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  margin: 0.2rem 0 0.2rem 0;
  min-height: 1.75rem;
  min-width: 0;
  outline: none;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  width: 95%;
}

.form-creation .button-create:disabled {
  pointer-events: none;
}

.form-creation .button-create:hover {
  color: #000000;
  background-color: #59b414;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
}

.form-creation .button-create:active {
  box-shadow: none;
  transform: translateY(0.125rem);
}

.form-creation .about-conteiner{
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  text-align: center;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  margin :1.5rem;
}

.form-creation .error-container{
  background-color: rgba(255, 0, 0, 0.25);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  text-align: center;
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
  color: red;
}

.form-creation .message-conteiner{
  background-color: rgba(0, 255, 140, 0.25);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  text-align: center;
  margin-bottom: 1.5rem;
  border-radius: 0.625rem;
  color: #59b414;
}



.table-container {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin: 20px;
    min-height: 700px;
    border: 2px solid #000;
    border-radius: 5px;
    width: auto;
  }
  
  .table-container h2 {
    color: #000;
    margin-bottom: 10px;
  }
  
  .search-container{
    display: flex;
    justify-content: space-between;
  }
  
  .table-container table {
    width: 100%;
    border-radius: 5px 5px 0 0;
    border-collapse: collapse;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .table-container table thead tr{
    background-color: #000;
    color: #ffffff;
  }
  
  .table-container table th,
  .table-container table td {
    padding: 8px 8px;
  }
  
  .table-container table tbody tr {
    border-bottom: 2px solid #dddddd;
  }
  
  .table-container table tbody tr:hover {
    background-color: #f3f3f3;
  }
  
  .table-container table tbody tr:last-of-type {
    border-bottom: 2px solid #59b414;
  }

  .input-user{
    width: 95%;
    padding: 0.625rem;
    margin-bottom: 1.5rem;
    line-height: 1.3rem;
    font-size: 1rem;
    border: 0.063rem solid #000;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.25rem;
    outline: none;
  }

  .add-button {
    appearance: none;
    outline: none;
    background-color: #000000;
    border: 0.1rem solid #1A1A1A;
    border-radius: 0.25rem;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 1.5rem;
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.625rem;
    width: 80px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .add-button:disabled {
    pointer-events: none;
  }
  
  .add-button:hover {
    color: #000000;
    background-color: #59b414;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
  }
  
  .add-button:active {
    box-shadow: none;
    transform: translateY(0.125rem);
  }