.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.video-container{
    position: center;
    width: 100%;
    height: 100%;
}

video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.form-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-box {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.625rem;
    width: 25rem;
    padding: 0.625rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  }

.image-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.user-box label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: black;
    /* font-weight: bold; */
  }
  
.user-box input {
    width: 95%;
    padding: 0.625rem;
    margin-bottom: 1rem;
    line-height: 1.875rem;
    font-size: 1rem;
    border: 0.063rem solid #000;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.25rem;
    outline: none;
}

.user-box input:focus{
    border-color: #59b414;
    color:#59b414;
    box-shadow: 0 0 0.188rem rgba(0, 0, 0, 0.5);
}

.button-sign-in {
  appearance: none;
  background-color: #000000;
  border: 0.125rem solid #1A1A1A;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  margin: 1rem 0 1rem 0;
  min-height: 3.75rem;
  min-width: 0;
  outline: none;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-sign-in:disabled {
    pointer-events: none;
}

.button-sign-in:hover {
    color: #000000;
    background-color: #59b414;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.5rem 1rem;
    transform: translateY(-0.125rem);
}

.button-sign-in:active {
    box-shadow: none;
    transform: translateY(0);
}

.error-container{
    background-color: rgba(255, 0, 0, 0.25);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
    text-align: center;
    border-radius: 0.625rem;
    color: red;
}