.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.video-container{
    position: center;
    width: 100%;
    height: 100%;
}

video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.form-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-box {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    width: 25rem;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

.image-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.user-box label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: black;
    /* font-weight: bold; */
  }
  
.user-box input {
    width: 95%;
    padding: 10px;
    margin-bottom: 16px;
    line-height: 30px;
    font-size: 16px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
}

.user-box input:focus{
    border-color: #59b414;
    color:#59b414;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.button-sign-in {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 16px 0 16px 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-sign-in:disabled {
    pointer-events: none;
}

.button-sign-in:hover {
    color: #000000;
    background-color: #59b414;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-sign-in:active {
    box-shadow: none;
    transform: translateY(0);
}

.error-container{
    background-color: rgba(255, 0, 0, 0.25);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    color: red;
}